# ASSIGNMENT 2- DATA STRUCTURES IN PYTHON

### Topic :List

### Exercise
#### Q1. Create a list of 5 random numbers and print the list.

In [23]:
import random
new_list=[random.randint(1,100) for _ in range(5)]
print("List of five random numbers=",new_list)

List of five random numbers= [46, 19, 1, 37, 61]

#### Q2. Insert 3 new values to the list and print the updated list.

In [28]:
import random
new_list=[random.randint(1,100) for _ in range(5)]
print("List of five random numbers=",new_list)
new_list.extend([201,301,401])  # Append 3 values
print("The updated list is",new_list)

List of five random numbers= [39, 4, 31, 35, 70]
The updated list is [39, 4, 31, 35, 70, 201, 301, 401]

#### Q3. Try to use a for loop to print each element in the list.

In [33]:
print("The elements in the list are:")
for element in new_list:
    print(element)

The elements in the list are:
39
4
31
35
70
201
301
401

## Topic: Dictionary

### Exercise 

#### Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [36]:
dict={'Name':'John','Age':25,'Address':'New York'}

print("The dictionary is",dict)

The dictionary is {'Name': 'John', 'Age': 25, 'Address': 'New York'}

#### Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [45]:
dict['Phone']=1234567890
print("The new dictionary is \n",dict)

The new dictionary is
 {'Name': 'John', 'Age': 25, 'Address': 'New York', 'phone': 1234567890, 'Phone': 1234567890}

## Topic: Set

### Exercise  

#### Q1.Create a set with values 1, 2, 3, 4, and 5.

In [48]:
my_set={1,2,3,4,5}
print("The set values are:",my_set)

The set values are: {1, 2, 3, 4, 5}

#### Q2. Add the value 6 to the set created in Q1.

In [53]:
my_set.add(6)

print("The updated set is:",my_set)

The updated set is: {1, 2, 3, 4, 5, 6}

#### Q3. Remove the value 3 from the set created in Q1.

In [58]:
my_set.discard(3)
print("The new list after removing 3 is: ",my_set)

The new list after removing 3 is:  {1, 2, 4, 5, 6}

## Topic:Tuple

### Exercise 

#### Q1. Create a tuple with values 1, 2, 3, and 4

In [63]:
the_tuple=(1,2,3,4)
print("The tuple is: ",the_tuple)
type(the_tuple)

The tuple is:  (1, 2, 3, 4)

tuple

#### Q2. Print the length of the tuple created in Q1.

In [72]:
print("The length of the tuple is :",len(the_tuple))

The length of the tuple is : 4